body{
    display:flex;
    flex-direction: column;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
    justify-content: flex-end;
  
}

/* Deals with the header. */
.header{
    display: flex;
    /* border: 1px solid black; */
    justify-content: center;
    align-items: center;
    /* padding: 300px; */

    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
    background-color: #1f2937;
    color: white;

    flex-shrink: 0;
    flex-grow: 0;
    /* max-height: 100px; */
    /* min-height: 100px; */

    min-width: 750px;

    gap: 433px;
}
.headerLogo{
    font-size: 24px;
    color: #F9FAF8;
    flex-shrink: 0;
    /* border: 1px solid black; */
    white-space: nowrap;
}

.headerLinks{
    list-style-type: none;
    display: flex;
    gap: 35px;
    font-size: 18px;
    color: #E5E7EB;
    white-space: nowrap;
    
}
a{
    text-decoration: none;
    color: #E5E7EB;
}



/* Deals with the splash below header. */

/* unsure whether to align center */
/* or align space-between to make header and logo align */
/* decide later! */
.thisAwesomeSplash{

    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    gap: 50px;
    background-color: #1f2937;
    padding: 300px;
    padding-top: 80px;
    padding-bottom: 80px;
}
.image{
    height: 220px;
    width: 584px;
    flex: 0 0 auto;
}

.splashText{
    display: flex;
    flex-direction: column;
    max-width: 584px;
    /* border: 1px solid black; */
    justify-content: space-between;
    min-width: 584px;
    max-height: 220px;
}
.splashText .splashHeading{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
}

.splashText p{
    font-size: 18px;
    color: #E5E7EB;
    
}

.splashText button{
    width: 140px;
    background-color: #3882F6;
    color: white;
    border-radius: 6px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    font-weight: 800;
}



/* Deals with the random information below splash */
.someRandomInfo{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.someRandomInfoItems{
    display: flex;
    border: 1px solid black;

}


/* Deals with inspiring quote below random information */
.inspiringQuote{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* deals with call to action below random information */
.callToAction{
    border: 1px solid black;
    display: flex;
    justify-content: center;
}


.footer{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    
}






