body{
    display:flex;
    flex-direction: column;
    
}

/* Deals with the header. */
.header{
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
}



/* Deals with the splash below header. */
.thisAwesomeSplash{
    border: 1px solid black;
    display: flex;
    justify-content: center;
}



/* Deals with the random information below splash */
.someRandomInfo{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.someRandomInfoItems{
    display: flex;
    border: 1px solid black;

}


/* Deals with inspiring quote below random information */
.inspiringQuote{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* deals with call to action below random information */
.callToAction{
    border: 1px solid black;
    display: flex;
    justify-content: center;
}


.footer{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    
}






