body{
    display:flex;
    flex-direction: column;
    margin: 0px;
  
}

/* Deals with the header. */
.header{
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
    align-items: center;
    padding: 100px;

    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
    background-color: #1f2937;
    color: white;

}
.headerLogo{
    font-size: 24px;
    color: #F9FAF8;
}

.headerLinks{
    list-style-type: none;
    display: flex;
    gap: 12px;
    font-size: 18px;
    color: #E5E7EB;
}



/* Deals with the splash below header. */
.thisAwesomeSplash{
    border: 1px solid black;
    display: flex;
    justify-content: center;
}



/* Deals with the random information below splash */
.someRandomInfo{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.someRandomInfoItems{
    display: flex;
    border: 1px solid black;

}


/* Deals with inspiring quote below random information */
.inspiringQuote{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* deals with call to action below random information */
.callToAction{
    border: 1px solid black;
    display: flex;
    justify-content: center;
}


.footer{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    
}






